@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "У вас нет прав на доступ к этому ресурсу!!!";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <img src="http://itd0.mycdn.me/image?id=853928797461&t=20&plc=WEB&tkn=*0MpGrkuAw9dQrQ1GiZN1FjemzRg" />
</header>
