@model string

<div asp-validation-summary="All" class="text-danger"></div>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label for="name">Новая роль</label>
        <input name="name" class="form-control" />
    </div>
    <button type="submit" class="btn btn-success">Добавить</button>
    <a class="btn btn-sm btn-secondary" asp-action="Index">Назад</a>
</form>