@model IEnumerable<BrowserGame.Data.ApplicationUser>

<h2>Список пользователей</h2>
<table class="table">
    <tr><th>Email</th><th>Имя</th><th>Год</th></tr>
    @foreach (var user in Model)
    {
        <tr>
            <td>@user.Email</td>
            <td>@user.Name</td>
            <td>@user.Year</td>
            <td>
                <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-userid="@user.Id">Права доступа</a>
            </td>
        </tr>
    }
</table>
<div>
 <form asp-action="Index" method="post">
 <button type="submit" class="btn btn-secondary">Назад</button>
</form>
</div>
