<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Неверно ввели адресс страницы!</title>
</head>
<body>
    <h2>Похоже, мы попали не на ту страницу!</h2>
    <img src="http://www.invest-ngo44.ru/images/404-error-novokt-ru.jpg"/>
</body>
</html>